@media screen and (max-width: 1200px) {
    .highlight-area button {
        margin-bottom: 20px;
    }
    .header-title {
        margin-top: 50px;
    }
    section.highlight-area {
        padding: 50px 0 80px 0;
    }
    .header-title h1 {
        font-size: 60px;
    }
}
@media screen and (max-width: 992px) {
    .header-title h1 {
        font-size: 50px;
    }
    #header-area {
        height: 580px;
    }
}
@media screen and (max-width: 768px) {
    #header-area {
        height: 100vh;
    }
}
@media screen and (max-width: 600px) {
    .logo img{
        width: 400px;
    }
    .header-title h1 {
        font-size: 50px;
    }
}
